<link rel="stylesheet" href="/css/login.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Add new user</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="/dashboard/manage-user" class="nav-link active" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="index"/></svg>
                          Manage User
                        </a>
                      </li>
                      <li>
                        <a href="/dashboard/game-activity" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                    </ul>

                    <hr>
                    <a href="/home">
                      <button type="button" class="btn-close btn-close-white"
                        aria-label="Close"></button>
                    </a>
                    
                    
                </div>
            </div>
            
            <div class="col w-100 p-5">
              <div class="v-100 w-100">
                      
                <h1  class="text-white">Add New User</h1>
                
              </div>
                <div class="bg-dark v-100 w-100 p-5">
                  <!-- <div class="">
                    <div class="form-grup form-white mb-1">
                      <label class="form-label text-white" for="inputUsername">Username</label>
                      <input type="text" id="inputUsername" placeholder="Username" required class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline form-white mb-1">
                      <label class="form-label text-white" for="email">Email</label>
                      <input type="email" id="inputEmail" placeholder="Email" required class="form-control form-control-lg" />
                    </div>
                    
                    <div class="form-outline form-white mb-1">
                      <label class="form-label text-white" for="password">Password</label>
                      <input type="password" id="inputPassword" placeholder="Password" required class="form-control form-control-lg" />
                    </div> -->
                    
                    <form action="/dashboard/manage-user" method="post">
                    <div class="form-group">
                      <label type="name" name="name" class="text-white" for="exampleInputname1">Name</label>
                      <input name="name" class="form-control" id="inputname" placeholder="Name"></textarea>
                    </div>
                    <div class="form-group">
                      <label type="age" name="age" class="text-white" for="exampleInputEmail1">Age</label>
                      <input name="age"class="form-control" id="inputAge" placeholder="Age"></textarea>
                    </div>
                    <div class="form-group">
                      <label type="gender" name="gender" class="text-white" for="exampleInputEmail1">Gender</label>
                      <input name="gender"class="form-control" id="inputGender" placeholder="Gender"></textarea>
                    </div>
                    <div class="form-group">
                      <label type="email" name="email" class="text-white" for="exampleInputEmail1">Email</label>
                      <input name="email" class="form-control" id="inputEmail" placeholder="Email"></textarea>
                    </div>
                    <div class="form-group">
                      <label type="password" name="password" class="text-white" for="exampleInputEmail1">Password</label>
                      <input name="password" class="form-control" id="inputPassword" placeholder="Password" type="password">
                    </div>
                    <button class="bg-primary btn btn-outline-light btn-lg my-5" type="submit" method="post">Add User</button>                 
                  </form>
              </div>
            </div>
        </div>

    </div>
    
  </section>
  <script src="/assets/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>