<link rel="stylesheet" href="/css/register.css">

<section class="vh-100 bg-image">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5 bg-dark text-bg-dark">
            <a href="/home">
                <button type="button" class="btn-close btn-close-white"
                  aria-label="Close"></button>
              </a>
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
           
            <form action="/auth/register" method="post">
              <div class="form-outline mb-4">
                <input type="name" id="form3Example1cg" name="name"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">Your Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="age" id="form3Example3cg" name="age"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Your Age</label>
              </div>
              <div class="form-outline mb-4">
                <input type="gender" id="form3Example3cg" name="gender"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Gender</label>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3cg" name="email"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Your Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cg" name="password"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>

              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value=""
                  id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">I agree
                  all statements in
                  <a href="#!" class="text-body text-white-50"><u>Terms of
                      service</u></a>
                </label>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-warning btn-block btn-lg gradient-custom-4
                  text-body">Register </button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Have already an
                account? <a href="/auth/login"
                  class="fw-bold text-body text-white-50"><u>Login here</u></a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous">
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"></script>