<link rel="stylesheet" href="/css/login.css">
<!-- CSS only -->



<!-- Form Login -->
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <a href="/home">
              <button type="button" class="btn-close btn-close-white"
                aria-label="Close"></button>
            </a>
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">account create <br>succesfully</h2>
              <p class="text-dark-50 mb-5">Please enter your login and
                password!</p>
                    
                    <!-- <form action="/auth/registerSucces" method="post"> -->
                      <a href="/auth/login">                        
                        <button class="btn btn-outline-light btn-lg px-5" type="submit" method>Login</button>
                        <div class="d-flex justify-content-center text-center mt-4 pt-1">
                          <a href="" class="text-white"><i class="fab fa-facebook-f
                            fa-lg"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg
                              mx-4 px-2"></i></a>
                              <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                          </a>
                        
                      <!-- </form> -->
                      <!-- <form action="/auth/registerSucces" method="post"></form> -->
                    <a href="/auth/register">              
                      <button class="btn btn-outline-light btn-lg px-5" type="submit" method>Register</button>
                      <div class="d-flex justify-content-center text-center mt-4 pt-1">
                        <a href="" class="text-white"><i class="fab fa-facebook-f
                          fa-lg"></i></a>
                          <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg
                            mx-4 px-2"></i></a>
                            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                          </div>
                        </a>
                      <!-- </form> -->
            </div>

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous">
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"></script>
