html,body{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vh;
    background-color:#9C835F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

header{
    display: flex;
    margin: 30px 0 0 30px;
}

/* Top Navigation */

.brand{
    display: flex;
    margin-left: 40px;
    align-items: center;
}
.brand h1{
    margin-left: 30px;
    color: #F9B23D;
   
}

/* Game Area */

.container{
    margin: 0 45%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

button{
    background-color: transparent;
    border-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
}

h2{
    letter-spacing:3px;
    font-size: 36px;
    font-weight: 700;

}

/* VS */

.versus h1{
    font-size: 144px;
    color: #BD0000;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#refresh{
    padding-top: 5em;
    margin-top: 2em;
}

.versus{
    padding-top: 6em;
}

.myoption,.comoption{
    padding-bottom: 3em;
}

.playername{
    text-align: center;
}

.no-click{
    pointer-events: none;
}

.active-com,.choosen{
    background-color: #c4c4c4;
    border-radius: 30px;  
}

.option-user{
    width: 100px;
}

#batu-c,#kertas-c,#gunting-c,
#batu-user,#kertas-user,#gunting-user{
    padding: 1em;
}


.myoption:hover{
    transform: rotate(22.5deg);
    animation-name: buttonAnimation;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}@keyframes buttonAnimation {
    0% {transform: rotate(25deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(-15deg);}}









